#carousel {
	margin: 60px auto;
	text-align: center;
	width: 400px;
	height: 300px;
	overflow: hidden;
	ul {
	width: 2000px;
	height: 300px;
	display: block;
	padding: 0 0;
	margin: 0 0;
		li{
		list-style-type: none;
		width: 400px;
		height: 300px;
		float: left;
			img {
			width: 400px;
			height: 300px;
			border: solid 5px #000;
			box-sizing: border-box;
			}
		}
	}
}